/* ==========================================================================
   General styles
   ========================================================================== */
body{
  padding: 50px 0;
}

/* ==========================================================================
   Styles for Memory Game
   ========================================================================== */
#deck{
  font-size: 6px; /* Im using this to set the base size of the EMs, thus afecting the card scale */
  overflow: hidden;
}
#deck .card{
  display: block;
  float: left;
}
#deck .card .front{
  width: 8em;
  height: 11.4em;
  margin: 0 0.6em 0.6em 0;
  display: block;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 0.8em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 11.4em;
  font-size: 2em;
  text-decoration: none;
  color: black;
  background: repeating-linear-gradient(
    -45deg,
    #ef2d33,
    #ef2d33 10px,
    #f9a899 10px,
    #f9a899 20px
  );
}

#deck .card span{
  display: none;
}
#deck .card.flipped span,
#deck .card.founded span
{
  display: inline;
}



#deck .card.flipped .front{
  border: 1px solid rgb(45,87,176);
  color: black;
  background: rgb(30,87,153); /* Old browsers */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
}
#deck .card.founded .front{
  border: 2px solid black;
  background: rgb(188,188,188); /* Old browsers */
  background: linear-gradient(to bottom,  rgb(188,188,188) 0%,rgb(203,203,203) 50%,rgb(198,198,198) 51%,rgb(224,224,224) 100%); /* W3C */
}